body {
  background-color: black !important;
}
.modal-content {
  background-color: #303030 !important;
}
.modal-header > .btn-close {
  color: white;
}
.modal-content > .form-control {
  background-color: #616161 !important;
  color: #afafaf !important;
}
h2, h3, h4, h5 {
  color: #ffc107 !important;
}
#editProfileModal {
  position: absolute;
    z-index: 100000 !important;
    height: 100vh;
    width: 100vw;
}